


body {
    background-color: 	rgb(8,8,8);
}

canvas {
    padding-left: 0;
    padding-right: 0;
    /* margin-left: 30%; */
    /* margin-right: auto; */
    margin-top: 50px;
    /* display: block; */
}
@font-face {
    font-family: 'Ozone';
    src: url('Ozone-xRRO.ttf');
    font-weight: normal;
    font-style: normal;
    padding: 0;
    padding-left: 340px;
    margin: auto;
    display: block;
    width: 1000px;
}

h1 {
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
    font-size: 150;
    left: 50%;
    color: yellow;
    margin-bottom: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

button {
    font-family: 'ArcadeClassic', sans-serif;
    text-align: center;
    font-size: 150;
    left: 45%;
    color: yellow;

    padding-left: 30px;
    padding-right: 30px;
    background-color: darkblue;

    margin-bottom: 30px;
}

.center {
    text-align: center;
    
	display: flex; 
	justify-content: center; /* center horizontally */ 
	align-items: center; /* center vertically */ 
}

.hidden {
    display: none;
}

.playAgainButton {
    font-size: 40;
}